{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h1>{{ .Title }}</h1>
                <h6>{{ .Description}}</h6>
                <ul class="list-inline mb-50">
                    <li class="list-inline-item">{{ .Params.author }}</li>
                    <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
                </ul>
                {{ with .Params.image }}<img class="img-fluid mb-50" src="{{ . | absURL }}" alt="blog-image">{{ end }}
            </div>
            <div class="col-lg-8 offset-lg-2">
                <div class="post-single-content">
                    {{ .Content | safeHTML}}
                    {{ if .Site.Data.blog.sharing}}
                        {{ partial "share_post" . }}
                    {{ end }}
                    {{ partial "post_comments" . }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}
