{{ if .Site.Data.about.enable}}
{{"<!-- Start About Section -->" | safeHTML}}
<section class="bg-one about section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    <h2>{{ .Site.Data.about.heading}} <span class="color">{{ .Site.Data.about.headingSpan}}</span> </h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{ range .Site.Data.about.aboutItem }}
            {{"<!-- About item -->" | safeHTML}}
            <div class="col-lg-4 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="block">
                    <div class="icon-box">
                        {{with .icon}}<i class="{{ . }}"></i>{{ end }}
                    </div>
                    {{"<!-- Express About Yourself -->" | safeHTML}}
                    <div class="content text-center">
                        {{ with .title }}<h3 class="ddd">{{ . }}</h3>{{ end }}
                        {{ with .content}}  <p>{{ . | safeHTML}}</p>{{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /about -->" | safeHTML}}
{{ end }}

