{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");  background-repeat:no-repeat; background-size:contain; background-position:center;'>
    <div class="block">
        
       {{with .Site.Params.banner.heading}} <h1 style="font-size:6.5vw;">{{ . }}</h1>{{ end }}
       {{with .Site.Params.banner.content}} <p style="font-size:1.5vw;">{{ . }}</p> {{ end }}
       {{ if .Site.Params.banner.btn}}
        <a data-scroll href="{{ .Site.Params.banner.btnURL}}" class="btn btn-transparent">{{ .Site.Params.banner.btnText}}</a>
        {{ end }}
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}