{{ if .Site.Data.testimonial.enable }}
{{"<!-- Start Testimonial -->" | safeHTML}}
<section id="refrences" class="testimonial overly section bg-2" style='background-image: url("{{ .Site.Data.testimonial.bgImage | absURL }}")'>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                    <div class="title text-center">
                        <h2> {{ with .Site.Data.testimonial.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.testimonial.headingSpan }} {{ . }} {{ end }}</span></h2>
                        <div class="border-meghna"></div>
                        <br/>
                    </div>
                {{"<!-- testimonial wrapper -->" | safeHTML}}
                <div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
                    {{ range .Site.Data.testimonial.testimonialItem }}
                    {{"<!-- testimonial single -->" | safeHTML}}
                    <div class="item text-center">

                        <!--{{"client photo " | safeHTML}}
                        <div class="client-thumb">
                            <img src="{{ .image | absURL }}" class="img-fluid" alt="Meghna">
                        </div>
                        -->
                        {{"<!-- client info -->" | safeHTML}}
                        <div class="client-info">
                            <div class="client-meta">
                                <h3>{{ .name }}</h3>
                                <h6><b>{{ .designation }}</b></h6>
                                <h6><u><i>{{ .email }}</i></u></h6>
                            </div>
                            <div class="client-comment">
                                <p><i>"{{ .content }}"</i></p>
                                <br>
                            </div>
                        </div>
                    </div>
                    {{"<!-- /testimonial single -->" | safeHTML}}
                    {{ end }}
                    </div>
                </div>
            </div>
</section>
{{"<!-- /testimonial -->" | safeHTML}}
{{ end }}