{{ if .Site.Data.blog.enable}}
{{"<!-- Start Blog Section -->" | safeHTML}}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section id="blog" class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeInDown">
                    <h2> {{ with $data.blog.heading }} {{ . }} {{ end }} <span class="color"> {{ with $data.blog.headingSpan }} {{ . }} {{ end }} </span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{ range .Data.Pages }}
            {{"<!-- single blog post -->" | safeHTML}}
            <article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp" data-wow-duration="500ms">
                <div class="post-block">

                    <div class="content">
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <h6>{{ .Params.description }}</h6>
                        <p>{{ .Params.summary }}</p>
                        <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
                    </div>
                </div>
            </article>
            {{"<!-- /single blog post -->" | safeHTML}}
            {{ end }}

            <div class="all-post text-center col-lg-12">
                <a class="btn btn-main" href="{{ if .Site.GetPage "/blog" }}/blog{{ else }}/posts{{end}}">{{ i18n "viewAllPost" }}</a>
            </div>
        </div>
    </div>
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}
