{{ if .Site.Data.exposure.enable }}
{{"<!-- Exposure -->" | safeHTML }}
<section id="experience" class="parallax-section section section-bg overly">
    <div class="container">
        <div class="row">
            {{"<!-- Exposure title -->" | safeHTML }}
            <div class="col-lg-12">
                <div class="title text-center">
                    <h2>{{ with .Site.Data.exposure.heading}} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.exposure.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /Exposure title -->" | safeHTML }}
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ with .Site.Data.exposure.title1 }} <h2> {{ . }} </h2> {{ end }}
                <hr>
                {{ range .Site.Data.exposure.positionItem }}
                    <ul>
                        <p><span>{{ .itemNumber }} </span><i>{{ .itemPosition }}</i> @ <b>{{ .itemCoName}}</b></p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; {{ .itemDuration }}</p>
                    </ul>
                {{ end }}
            </div>
            <div class="col-lg-6">
                <ul class="skill-bar">
                    {{ with .Site.Data.exposure.title2 }} <h2> {{ . }} </h2> {{ end }}
                    <hr>
                    {{ range .Site.Data.exposure.skillItem }}
                    <li>
                        <p><span>{{ .itemNumber }} </span>&nbsp; {{ .itemName }}</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:{{ .itemPercent }}">
                            </div>
                        </div>
                        <br>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{"<!-- /Exposure -->" | safeHTML }}
{{ end }}