{{ if .Site.Data.projects.enable}}
{{"<!-- projects -->" | safeHTML }}
<section id="projects" class="bg-one section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- Project title -->" | safeHTML }}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.projects.heading }} {{ . }} {{ end }}<span class="color">{{ with .Site.Data.projects.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /Project title -->" | safeHTML }}

            {{ range .Site.Data.projects.projectsItem}}
            {{"<!-- Single Project Item -->" | safeHTML }}
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="{{ .icon }}"></i>
                    </div>
                    <h3><u>{{ .title }}</u></h3>
                    <p><i>{{ .position }}</i></p>
                    <p>{{ .content }}</p>
                    <hr>
                    <br>
                    <p>(Status - {{ .status }})</p>
                    <p>#tags: <b>{{ .tag }}</b></p>
                </div>
            </article>
            {{"<!-- End Single Project Item -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /projects -->" | safeHTML }}
{{ end }}