
{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section id="blog" class="section">
    <div class="container">
        <div class="row">
                <div class="col-lg-12">
                        {{"<!-- section title -->" | safeHTML}}
                        <div class="title text-center wow fadeInDown">
                            <h2> {{ with $data.blog.heading }} {{ . }} {{ end }} <span class="color"> {{ with $data.blog.headingSpan }} {{ . }} {{ end }} </span></h2>
                            <h6> {{ with $data.blog.info }} {{ . }} {{ end }} <a href="{{ with $data.blog.info_link }} {{ . }} {{ end }}" target = _blank> Medium</a></h6>
                            <div class="border-meghna"></div>
                        </div>
                    </div>
                    {{"<!-- /section title -->" | safeHTML}}

            {{ range .Data.Pages }}
            {{"<!-- single blog post -->" | safeHTML}}
            {{ .Render "article" }}
            {{"<!-- /single blog post -->" | safeHTML}}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
