{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
    <div class="container" style="color:white"> 
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h1>{{ .Title }}</h1>
                <ul class="list-inline mb-50">
                    <li class="list-inline-item"><a href="/author/{{ urlize .Params.author}}">{{ .Params.author }}</a></li>
                    <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
                </ul>
                {{ with .Params.image }}<img class="img-fluid mb-50" src="{{ . | absURL }}" alt="blog-image">{{ end }}
            </div>
            <div class="col-lg-8 offset-lg-2">
                <div class="post-single-content">
                    {{ .Content }}
                    {{ if .Site.Data.blog.sharing}}
                        <!-- LikeBtn.com BEGIN -->
                        <span class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt1" data-icon_l_c="#f8f9fa" data-icon_l_c_v="#dc3545" data-icon_d_c="#f8f9fa" data-label_c="#f8f9fa" data-label_c_v="#f8f9fa" data-counter_l_c="#f8f9fa" data-counter_d_c="#f8f9fa" data-bg_c="#343a40" data-bg_c_v="#343a40" data-ef_voting="push" data-identifier="item_1" data-dislike_enabled="false" data-popup_position="bottom"></span>
                        <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
                        <!-- LikeBtn.com END -->
                        {{ partial "share_post" . }}
                    {{ end }}
                    
                    {{ partial "post_comments" . }}
                    
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}
